*{
    background-color: rgb(35, 35, 35);
}
body{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
}
#rectangle{
width: 220px;
height: 220px;
background-color: rgb(103, 27, 6);
border: 2px solid rgb(229, 228, 205);
}
#butt{
    background-color: rgb(217, 181, 135);
    position: relative;
    top: 20px;
    left: 37%;
    border: none;
    border-radius: 5px;
}
.transition2{
background-color: rgb(2, 2, 104);
border-radius: 50%;
}